Repository microsoft/testfx, pull requests merged in 2024-02, with the labels that each got.

#2258 Set correct diagnostic default and cut allocations
  src/Platform/Microsoft.Testing.Platform/Builder/TestApplication.cs
Labels: Area: Perf

#2257 Downgrade infra to net8
  Directory.Build.Local.props
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Labels: Type: Chore, Needs: Author Feedback, State: Blocked

#2299 Fix resource message
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.Designer.cs
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.resx
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
Labels: Type: Bug, Area: Testing Platform

#2292 TestInitialize should be valid
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
  src/Analyzers/MSTest.Analyzers/Helpers/DiagnosticIds.cs
  src/Analyzers/MSTest.Analyzers/Resources.Designer.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/TestInitializeShouldBeValidAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  test/UnitTests/MSTest.Analyzers.UnitTests/TestInitializeShouldBeValidAnalyzerTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/testsbaseline.txt
Labels: Type: Feature, Area: Analyzers

#2328 AssemblyInitialize should be valid
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
  src/Analyzers/MSTest.Analyzers/AssemblyInitializeShouldBeValidAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/Helpers/WellKnownTypeNames.cs
  src/Analyzers/MSTest.Analyzers/Resources.Designer.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  test/UnitTests/MSTest.Analyzers.UnitTests/AssemblyInitializeShouldBeValidAnalyzerTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/testsbaseline.txt
Labels: Type: Feature, Area: Analyzers

#2353 MSTEST0013: AssemblyCleanup should be valid
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
  src/Analyzers/MSTest.Analyzers/AssemblyCleanupShouldBeValidAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/Helpers/WellKnownTypeNames.cs
  src/Analyzers/MSTest.Analyzers/Resources.Designer.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  test/UnitTests/MSTest.Analyzers.UnitTests/AssemblyCleanupShouldBeValidAnalyzerTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/testsbaseline.txt
Labels: Type: Feature, Area: Analyzers

#2354 MSTEST0010: ClassInitialize should be valid
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
  src/Analyzers/MSTest.Analyzers/ClassInitializeShouldBeValidAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/Resources.Designer.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  test/UnitTests/MSTest.Analyzers.UnitTests/ClassInitializeShouldBeValidAnalyzerTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/testsbaseline.txt
Labels: Type: Feature, Area: Analyzers

#2409 Remove the `TestingPlatformServer` if the runner is disabled
  src/Adapter/Build/Common/MSTest.TestAdapter.targets
  src/Adapter/Build/NetWithWinUI/MSTest.TestAdapter.targets
  src/Adapter/Build/Universal/MSTest.TestAdapter.targets
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSTestRunnerTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/testsbaseline.txt
Labels: Type: Bug

#2427 Improve warning message for generic non-abstract test classes
  src/Adapter/MSTest.TestAdapter/Discovery/TypeValidator.cs
  src/Adapter/MSTest.TestAdapter/Resources/Resource.Designer.cs
  src/Adapter/MSTest.TestAdapter/Resources/Resource.resx
  src/Adapter/MSTest.TestAdapter/Resources/xlf/Resource.cs.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/Resource.de.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/Resource.es.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/Resource.fr.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/Resource.it.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/Resource.ja.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/Resource.ko.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/Resource.pl.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/Resource.pt-BR.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/Resource.ru.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/Resource.tr.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/Resource.zh-Hans.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/Resource.zh-Hant.xlf
  test/UnitTests/MSTestAdapter.UnitTests/Discovery/TypeValidatorTests.cs
Labels: Type: Bug

#2429 MSTEST0015: Test method should not be ignored
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
  src/Analyzers/MSTest.Analyzers/Helpers/DiagnosticIds.cs
  src/Analyzers/MSTest.Analyzers/Helpers/WellKnownTypeNames.cs
  src/Analyzers/MSTest.Analyzers/Resources.Designer.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/TestMethodShouldNotBeIgnoredAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  test/UnitTests/MSTest.Analyzers.UnitTests/TestMethodShouldNotBeIgnoredAnalyzerTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/testsbaseline.txt
Labels: Type: Feature, Area: Analyzers

#2444 Add tests for `--exit-on-process-exit`
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/ExitOnProcessExitTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/testsbaseline.txt
Labels: Area: Server Mode, Area: Test Explorer

#2456 Make `RootDeploymentDirectory` name unique
  src/Adapter/MSTestAdapter.PlatformServices/Utilities/DeploymentUtility.cs
Labels: Type: Bug
