Repository microsoft/testfx, pull requests merged in 2024-12, with the labels that each got.

#4162 Implement codefix for MSTEST0037: Use proper 'Assert' methods
  src/Analyzers/MSTest.Analyzers.CodeFixes/CodeFixResources.Designer.cs
  src/Analyzers/MSTest.Analyzers.CodeFixes/CodeFixResources.resx
  src/Analyzers/MSTest.Analyzers.CodeFixes/UseProperAssertMethodsFixer.cs
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.cs.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.de.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.es.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.fr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.it.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ja.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ko.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pl.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ru.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.tr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hant.xlf
  src/Analyzers/MSTest.Analyzers/RoslynAnalyzerHelpers/ITypeSymbolExtensions.cs
  src/Analyzers/MSTest.Analyzers/UseProperAssertMethodsAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UseProperAssertMethodsAnalyzerTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/Verifiers/CSharpCodeFixVerifier`2.cs
Labels: Type: Feature, Area: Analyzers

#4224 Fix analyzers package to support VB.NET
  src/Analyzers/MSTest.Analyzers.Package/MSTest.Analyzers.Package.csproj
Labels: Area: Analyzers

#4178 Only push output device messages to Test Explorer, don't push logs
  src/Platform/Microsoft.Testing.Platform/CommandLine/CommandLineHandler.cs
  src/Platform/Microsoft.Testing.Platform/CommandLine/ICommandLineHandler.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/CommonTestHost.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/ConsoleTestHost.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/ServerTestHost.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostControllersTestHost.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/ToolsTestHost.cs
  src/Platform/Microsoft.Testing.Platform/Logging/ServerLoggerForwarder.cs
  src/Platform/Microsoft.Testing.Platform/Logging/ServerLoggerForwarderProvider.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/IPlatformOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/OutputDeviceManager.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/ProxyOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.resx
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/ServerModePerCallOutputDevice.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ServerMode/LogsCollector.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ServerModeTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests.csproj
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/ServerLoggingTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Logging/ServerLoggerForwarderTests.cs
Labels: Area: Localization, Area: Testing Platform, Area: Server Mode

#4221 Show running tests
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/AnsiTerminal.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/AnsiTerminalTestProgressFrame.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/HumanReadableDurationFormatter.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/NonAnsiTerminal.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporterOptions.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TestDetailState.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TestNodeResultsState.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TestProgressState.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TestProgressStateAwareTerminal.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.resx
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterTests.cs
Labels: Area: Testing Platform, Area: Testing Platform Extensions

#4301 Preserve message and parameters in MSTEST0025 fixer
  src/Analyzers/MSTest.Analyzers.CodeFixes/PreferAssertFailOverAlwaysFalseConditionsFixer.cs
  src/Analyzers/MSTest.Analyzers/Helpers/WellKnownTypeNames.cs
  src/Analyzers/MSTest.Analyzers/PreferAssertFailOverAlwaysFalseConditionsAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/ReviewAlwaysTrueAssertConditionAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/PreferAssertFailOverAlwaysFalseConditionsAnalyzerTests.cs
Labels: Area: Analyzers

#4269 Allow to disable test expansion on implementations of ITestDataSource
  src/Adapter/MSTest.TestAdapter/Discovery/AssemblyEnumerator.cs
  src/Adapter/MSTest.TestAdapter/Discovery/TypeEnumerator.cs
  src/Adapter/MSTest.TestAdapter/Execution/TypeCache.cs
  src/Adapter/MSTest.TestAdapter/Helpers/ReflectHelper.cs
  src/TestFramework/TestFramework/Attributes/DataSource/DataRowAttribute.cs
  src/TestFramework/TestFramework/Attributes/DataSource/DynamicDataAttribute.cs
  src/TestFramework/TestFramework/Attributes/DataSource/TestDataSourceDiscoveryAttribute.cs
  src/TestFramework/TestFramework/Attributes/DataSource/TestDataSourceDiscoveryOption.cs
  src/TestFramework/TestFramework/Attributes/DataSource/TestDataSourceOptionsAttribute.cs
  src/TestFramework/TestFramework/Interfaces/ITestDataSourceUnfoldingCapability.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
  test/IntegrationTests/MSTest.IntegrationTests/Parameterized tests/DataExtensibilityTests.cs
  test/IntegrationTests/MSTest.IntegrationTests/Parameterized tests/DynamicDataTests.cs
  test/IntegrationTests/MSTest.VstestConsoleWrapper.IntegrationTests/Parameterized tests/DataExtensibilityTests.cs
  test/IntegrationTests/MSTest.VstestConsoleWrapper.IntegrationTests/Parameterized tests/DynamicDataTests.cs
  test/IntegrationTests/TestAssets/DynamicDataTestProject/DisableExpansionTests.cs
  test/IntegrationTests/TestAssets/FxExtensibilityTestProject/TestDataSourceExTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/Discovery/AssemblyEnumeratorTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/Discovery/TypeEnumeratorTests.cs
Labels: Area: Parameterized tests

#4351 Make MSTest.TestFramework depends upon MSTest.Analyzers
  src/TestFramework/TestFramework.Extensions/MSTest.TestFramework.NonWindows.nuspec
  src/TestFramework/TestFramework.Extensions/MSTest.TestFramework.nuspec
Labels: Area: Analyzers

#4340 Auto detect DynamicDataSourceType
  src/Adapter/MSTest.TestAdapter/DynamicDataOperations.cs
  src/Adapter/MSTest.TestAdapter/Resources/Resource.Designer.cs
  src/Adapter/MSTest.TestAdapter/Resources/Resource.resx
  src/Adapter/MSTest.TestAdapter/Resources/xlf/Resource.cs.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/Resource.de.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/Resource.es.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/Resource.fr.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/Resource.it.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/Resource.ja.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/Resource.ko.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/Resource.pl.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/Resource.pt-BR.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/Resource.ru.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/Resource.tr.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/Resource.zh-Hans.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/Resource.zh-Hant.xlf
  src/Analyzers/MSTest.Analyzers/DynamicDataShouldBeValidAnalyzer.cs
  src/TestFramework/TestFramework/Attributes/DataSource/DynamicDataAttribute.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/NativeAotTests.cs
  test/IntegrationTests/MSTest.IntegrationTests/Parameterized tests/DynamicDataTests.cs
  test/IntegrationTests/MSTest.VstestConsoleWrapper.IntegrationTests/Parameterized tests/DynamicDataTests.cs
  test/IntegrationTests/TestAssets/DynamicDataTestProject/DynamicDataTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/DynamicDataShouldBeValidAnalyzerTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/DynamicDataAttributeTests.cs
Labels: Area: Parameterized tests

#4378 Fix false positive for PreferTestCleanupOverDispose on non-test classes
  src/Analyzers/MSTest.Analyzers/PreferTestCleanupOverDisposeAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/PreferTestCleanupOverDisposeAnalyzerTests.cs
Labels: Area: Analyzers

#4383 Report diagnostic if DynamicData is referencing a member that's not method/property (e.g, field) (and some cleanup)
  src/Analyzers/MSTest.Analyzers/DynamicDataShouldBeValidAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/Resources.Designer.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  test/UnitTests/MSTest.Analyzers.UnitTests/DynamicDataShouldBeValidAnalyzerTests.cs
Labels: Area: Analyzers

#4389 Allow any IEnumerable as return type to DynamicData source member
  src/Adapter/MSTest.TestAdapter/DynamicDataOperations.cs
  src/Analyzers/MSTest.Analyzers/DynamicDataShouldBeValidAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/Helpers/WellKnownTypeNames.cs
  src/TestFramework/TestFramework/Attributes/DataSource/DynamicDataAttribute.cs
  src/TestFramework/TestFramework/Resources/FrameworkMessages.Designer.cs
  src/TestFramework/TestFramework/Resources/FrameworkMessages.resx
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
  test/IntegrationTests/MSTest.IntegrationTests/Parameterized tests/DynamicDataTests.cs
  test/IntegrationTests/MSTest.VstestConsoleWrapper.IntegrationTests/Parameterized tests/DynamicDataTests.cs
  test/IntegrationTests/TestAssets/DynamicDataTestProject/DynamicDataTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/DynamicDataShouldBeValidAnalyzerTests.cs
Labels: Area: Parameterized tests

#4439 Best effort tracking for properties assigned indirectly via fields for TestContext analyzer
  src/Analyzers/MSTest.Analyzers/TestContextShouldBeValidAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/TestContextShouldBeValidAnalyzerTests.cs
Labels: Area: Analyzers

#4456 MSTEST0037 (proper assert analyzer): Don't report for user defined equality operators
  src/Analyzers/MSTest.Analyzers/UseProperAssertMethodsAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UseProperAssertMethodsAnalyzerTests.cs
Labels: Area: Analyzers

#4460 Fix MSTEST0017 false positive when both actual/expected are constants
  src/Analyzers/MSTest.Analyzers/AssertionArgsShouldBePassedInCorrectOrderAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/AssertionArgsShouldBePassedInCorrectOrderAnalyzerTests.cs
Labels: Area: Analyzers

#4481 Don't report MSTEST0001 when TestAdapter isn't referenced
  src/Analyzers/MSTest.Analyzers/UseParallelizeAttributeAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UseParallelizeAttributeAnalyzerTests.cs
Labels: Area: Analyzers
