Repository microsoft/testfx, pull requests merged in 2025-03, with the labels that each got.

#5161 Fix TestingPlatformSelfRegisteredExtensions to allow empty RootNamespace
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/TestingPlatformAutoRegisteredExtensions.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/TestingPlatformEntryPointTask.cs
Labels: Area: MTP MSBuild

#5156 Improve ExecutionContext propagation
  src/Adapter/MSTest.TestAdapter/Execution/ClassCleanupManager.cs
  src/Adapter/MSTest.TestAdapter/Execution/TestAssemblyInfo.cs
  src/Adapter/MSTest.TestAdapter/Execution/TestClassInfo.cs
  src/Adapter/MSTest.TestAdapter/Execution/TestMethodInfo.cs
  src/Adapter/MSTest.TestAdapter/Execution/UnitTestRunner.cs
  src/Adapter/MSTest.TestAdapter/Helpers/FixtureMethodRunner.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/AssemblyExecutionContextScope.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/ClassExecutionContextScope.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/ExecutionContextService.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/IExecutionContextScope.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/InstanceExecutionContextScope.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/ThreadSafeStringWriter.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/GenericTestMethodTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ThreadContextTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TestClassInfoTests.cs
Labels: Area: Performance

#5182 Fix possible deadlock when writing to console
  src/Platform/Microsoft.Testing.Platform/Helpers/System/SystemConsole.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/NonAnsiTerminal.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/ConsoleTests.cs
Labels: Area: MTP

#5201 Consider `--results-directory` before configuration
  src/Platform/Microsoft.Testing.Platform/Configurations/AggregatedConfiguration.cs
  src/Platform/Microsoft.Testing.Platform/Configurations/ConfigurationExtensions.cs
  src/Platform/Microsoft.Testing.Platform/Configurations/ConfigurationManager.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.cs
  src/Platform/Microsoft.Testing.Platform/TestHostControllers/TestHostControllersManager.cs
  test/UnitTests/MSTest.Engine.UnitTests/Adapter_ExecuteRequestAsyncTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Configuration/AggregatedConfigurationTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Configuration/ConfigurationExtensionsTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/TestApplicationBuilderTests.cs
Labels: Area: MTP

#5217 Move logic relevant to core MTP out of MTP.MSBuild
  src/Platform/Microsoft.Testing.Platform.MSBuild/buildMultiTargeting/Microsoft.Testing.Platform.MSBuild.targets
  src/Platform/Microsoft.Testing.Platform/build/Microsoft.Testing.Platform.targets
  src/Platform/Microsoft.Testing.Platform/buildMultiTargeting/Microsoft.Testing.Platform.targets
  src/Platform/Microsoft.Testing.Platform/buildTransitive/Microsoft.Testing.Platform.targets
Labels: Area: MTP, Area: MTP MSBuild

#5235 Add assembly name
  samples/Playground/Tests.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/InvokeTestingPlatformTask.cs
Labels: Area: MTP MSBuild

#5236 Fix TestFailedException outcome not propagating to TestResult outcome
  src/Adapter/MSTest.TestAdapter/Execution/TestClassInfo.cs
  src/Adapter/MSTest.TestAdapter/Execution/UnitTestRunner.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/InconclusiveTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TestClassInfoTests.cs
Labels: Area: Fixtures

#5238 Remove extra space
  src/Adapter/MSTest.TestAdapter/Execution/ExceptionHelper.cs
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TestAssemblyInfoTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TestClassInfoTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TestMethodInfoTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/Extensions/ExceptionExtensionsTests.cs
Labels: Area: MTP

#5275 Fix stackoverflow in Assert.DoesNotContain
  src/TestFramework/TestFramework/Assertions/Assert.Contains.cs
Labels: Area: Assertion

#5264 Use FileAccess.Read when reading testconfig.json file
  src/Platform/Microsoft.Testing.Platform/Configurations/ConfigurationManager.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Configuration/ConfigurationManagerTests.cs
Labels: Area: MTP, Area: MTP MSBuild

#5305 Fix parameterized UI tests for WinUI
  src/TestFramework/TestFramework.Extensions/Attributes/WinUI_UITestMethodAttribute.cs
Labels: Area: WinUI, Area: UWP

#5144 Add analyzer for duplicate data row
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
  src/Analyzers/MSTest.Analyzers/DuplicateDataRowAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/Helpers/DiagnosticIds.cs
  src/Analyzers/MSTest.Analyzers/PublicAPI.Unshipped.txt
  src/Analyzers/MSTest.Analyzers/Resources.Designer.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/RoslynAnalyzerHelpers/DiagnosticExtensions.cs
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  test/UnitTests/MSTest.Analyzers.UnitTests/DuplicateDataRowAnalyzerTests.cs
Labels: Area: Analyzers

#5315 Fix MSTEST0032 false positive with nullability analysis
  src/Analyzers/MSTest.Analyzers/ReviewAlwaysTrueAssertConditionAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/ReviewAlwaysTrueAssertConditionAnalyzerTests.cs
Labels: Area: Analyzers

#5323 [Source Breaking (only for framework authors)]: Support test artifacts in VS
  src/Adapter/MSTest.Engine/Engine/TestExecutionContext.cs
  src/Adapter/MSTest.Engine/Engine/ThreadPoolTestNodeRunner.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxDataConsumer.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxProcessLifetimeHandler.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/FrameworkHandlerAdapter.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ObjectModelConverters.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/VSTestBridgedTestFrameworkBase.cs
  src/Platform/Microsoft.Testing.Platform/Messages/FileArtifacts.cs
  src/Platform/Microsoft.Testing.Platform/Messages/TestNodeProperties.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/BrowserOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/DotnetTestDataConsumer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/Json/Json.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/PerRequestServerDataConsumerService.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/SerializerUtilities.cs
  src/Platform/Microsoft.Testing.Platform/TestHostControllers/PassiveNodeDataConsumer.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/ObjectModel/ObjectModelConvertersTests.cs
Labels: Area: MTP, Area: Server Mode

#5297 Allow async test methods for UITestMethod on UWP and WinUI
  src/Adapter/MSTest.TestAdapter/Execution/TestClassInfo.cs
  src/Adapter/MSTest.TestAdapter/Execution/TestMethodInfo.cs
  src/Adapter/MSTest.TestAdapter/Execution/TestMethodRunner.cs
  src/Adapter/MSTest.TestAdapter/Execution/UnitTestRunner.cs
  src/Adapter/MSTest.TestAdapter/Extensions/MethodInfoExtensions.cs
  src/Adapter/MSTest.TestAdapter/Helpers/ExecutionContextHelpers.cs
  src/Adapter/MSTest.TestAdapter/Helpers/FixtureMethodRunner.cs
  src/Adapter/MSTest.TestAdapter/PublicAPI/PublicAPI.Unshipped.txt
  src/Adapter/MSTest.TestAdapter/PublicAPI/uwp/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework.Extensions/Attributes/UWP_UITestMethodAttribute.cs
  src/TestFramework/TestFramework.Extensions/Attributes/WinUI_UITestMethodAttribute.cs
  src/TestFramework/TestFramework/Attributes/DataSource/DataTestMethodAttribute.cs
  src/TestFramework/TestFramework/Attributes/TestMethod/STATestMethodAttribute.cs
  src/TestFramework/TestFramework/Attributes/TestMethod/TestMethodAttribute.cs
  src/TestFramework/TestFramework/Interfaces/ITestMethod.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework/TestFramework.csproj
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/GenericTestMethodTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TestMethodRunnerTests.cs
Labels: Area: WinUI, Area: UWP
