Repository microsoft/testfx, pull requests merged in 2025-02, with the labels that each got.

#4884 Cleanup VB entrypoint
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/TestingPlatformEntryPointTask.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.GenerateEntryPoint.cs
Labels: Area: Testing Platform, Area: Testing Platform MSBuild

#4840 Fix InvokeTestingPlatformTask to handle running with msbuild.exe and 'Test' target
  src/Platform/Microsoft.Testing.Platform.MSBuild/Microsoft.Testing.Platform.MSBuild.csproj
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/DotnetMuxerLocator.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/InvokeTestingPlatformTask.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/Helpers/AcceptanceTestBase.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Test.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/CommandLine.cs
Labels: Area: Testing Platform MSBuild

#4921 VSTestBridge: support filter at discovery + runsettings TestCaseFilter
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ContextAdapterBase.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/DiscoveryContextAdapter.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/RunContextAdapter.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/RunSettingsAdapter.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Requests/VSTestDiscoverTestExecutionRequestFactory.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/RunsettingsTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TestFilterTests.cs
Labels: Area: Testing Platform, Area: Testing Platform VSTest Bridge

#4924 MSTEST0018: Fix FP with types implementing IEnumerable
  src/Analyzers/MSTest.Analyzers/DynamicDataShouldBeValidAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/DynamicDataShouldBeValidAnalyzerTests.cs
Labels: Area: Analyzers

#4942 Preserve TestIdGenerationStrategy in the execution AppDomain
  src/Adapter/MSTestAdapter.PlatformServices/Utilities/AppDomainUtilities.cs
Labels: Area: Parameterized tests

#4930 Add TestDataRow class
  src/Adapter/MSTest.TestAdapter/Discovery/AssemblyEnumerator.cs
  src/Adapter/MSTest.TestAdapter/Execution/TestMethodRunner.cs
  src/Adapter/MSTest.TestAdapter/Execution/UnitTestRunner.cs
  src/Adapter/MSTest.TestAdapter/Helpers/TestDataSourceHelpers.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ObjectModelConverters.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
  src/TestFramework/TestFramework/Attributes/DataSource/DynamicDataOperations.cs
  src/TestFramework/TestFramework/Attributes/TestMethod/TestResult.cs
  src/TestFramework/TestFramework/ITestDataRow.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework/TestDataRow.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ParameterizedTestTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterTests.cs
Labels: Area: Parameterized tests

#4989 Changelog 3.8
  docs/Changelog-Platform.md
  docs/Changelog.md
Labels: Area: Documentation

#5008 Fix MSTEST0038 message
  src/Analyzers/MSTest.Analyzers/AvoidAssertAreSameWithValueTypesAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/AvoidAssertAreSameWithValueTypesAnalyzerTests.cs
Labels: Area: Analyzers

#5020 Fix parameterized test treated as ignored when using VSTest in Test E…
  src/Adapter/MSTest.TestAdapter/Execution/TestMethodRunner.cs
  src/Adapter/MSTest.TestAdapter/ObjectModel/TestMethod.cs
  src/TestFramework/TestFramework/Interfaces/ITestDataSourceIgnoreCapability.cs
Labels: Area: Parameterized tests

#5013 Avoid handling tuples for test methods with only `object[]` parameter
  src/Adapter/MSTest.TestAdapter/Execution/TestMethodRunner.cs
  src/Adapter/MSTest.TestAdapter/Extensions/MethodInfoExtensions.cs
  src/Adapter/MSTest.TestAdapter/Helpers/TestDataSourceHelpers.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TupleDynamicDataTests.cs
Labels: Area: Parameterized tests

#5021 Try out props/targets refactoring
  src/Adapter/MSTest.TestAdapter/buildTransitive/common/MSTest.TestAdapter.props
  src/Adapter/MSTest.TestAdapter/buildTransitive/common/MSTest.TestAdapter.targets
  src/Platform/Microsoft.Testing.Platform.MSBuild/buildMultiTargeting/Microsoft.Testing.Platform.MSBuild.props
  src/Platform/Microsoft.Testing.Platform.MSBuild/buildMultiTargeting/Microsoft.Testing.Platform.MSBuild.targets
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.ConfigurationFile.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.GenerateEntryPoint.cs
Labels: Area: MTP MSBuild

#5032 Use `global::` prefix for generated code
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/TestingPlatformAutoRegisteredExtensions.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/TestingPlatformEntryPointTask.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuild.KnownExtensionRegistration.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.GenerateEntryPoint.cs
Labels: Area: MTP MSBuild

#5044 Revert _IncludeGenerateAutoRegisteredExtensionsIntoCompilation target rename
  src/Platform/Microsoft.Testing.Platform.MSBuild/buildMultiTargeting/Microsoft.Testing.Platform.MSBuild.targets
Labels: Area: MTP MSBuild

#5040 Fix breaking change with telemetry
  src/Platform/Microsoft.Testing.Platform/Builder/TestApplicationBuilder.cs
Labels: Area: MTP Extensions

#5053 Improve MSTest.SourceGeneration incrementality
  THIRD-PARTY-NOTICES.TXT
  src/Analyzers/MSTest.SourceGeneration/Helpers/EquatableArray{T}.cs
  src/Analyzers/MSTest.SourceGeneration/Helpers/HashCode.cs
  src/Analyzers/MSTest.SourceGeneration/MSTest.SourceGeneration.csproj
  src/Analyzers/MSTest.SourceGeneration/ObjectModels/TestMethodInfo.cs
  src/Analyzers/MSTest.SourceGeneration/ObjectModels/TestTypeInfo.cs
Labels: Area: Native AOT

#5054 Fix serialization of exceptions by BinaryFormatter in .NET Framework
  src/Adapter/MSTest.Engine/Assertions/AssertFailedException.cs
  src/TestFramework/TestFramework/Exceptions/AssertFailedException.cs
  src/TestFramework/TestFramework/Exceptions/AssertInconclusiveException.cs
  src/TestFramework/TestFramework/Exceptions/InternalTestFailureException.cs
  src/TestFramework/TestFramework/Exceptions/UnitTestAssertException.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
  test/UnitTests/TestFramework.UnitTests/Exceptions/BinaryFormatterExceptionSerializationTests.cs
  test/UnitTests/TestFramework.UnitTests/TestFramework.UnitTests.csproj
Labels: Area: Assertion

#5068 Handle if RootNamespace contains invalid identifier characters
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/NamespaceHelpers.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/TestingPlatformAutoRegisteredExtensions.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/TestingPlatformEntryPointTask.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/UnicodeCharacterUtilities.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuild.KnownExtensionRegistration.cs
Labels: Area: MTP MSBuild

#5070 Fix ClassCleanup not called when the first test in class is ignored
  src/Adapter/MSTest.TestAdapter/Execution/TestClassInfo.cs
  src/Adapter/MSTest.TestAdapter/Execution/UnitTestRunner.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/IgnoreTests.cs
Labels: Area: Fixtures

#5087 Fix typo in determining `_TestArchitecture`
  src/Platform/Microsoft.Testing.Platform.MSBuild/buildMultiTargeting/Microsoft.Testing.Platform.MSBuild.targets
Labels: Area: MTP MSBuild

#5117 Fix discard handling for newer Assert.Throws codefix
  src/Analyzers/MSTest.Analyzers.CodeFixes/UseNewerAssertThrowsFixer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UseNewerAssertThrowsAnalyzerTests.cs
Labels: Area: Analyzers
